<div id="<%= dom_id project_comment %>">
  <p>
    <strong>Content:</strong>
    <%= project_comment.content %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= project_comment.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project_comment.user_id %>
  </p>

</div>
